<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.share">

    <!-- 允许极光推送 -->
    <permission
        android:name="cn.share.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission> -->
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <!-- <uses-permission android:name="android.permission.INTERNET"></uses-permission> -->
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="a997c8b0cc040398e554fcf0a306a5d0" />

        <receiver
            android:name=".MyReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="cn.share" />
            </intent-filter>
        </receiver>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="cn.share" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <activity
            android:name=".phone.SplashActivity"
            android:theme="@style/Theme.beginBackground">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".phone.GuestLoginActivity"
             />
        <activity android:name=".phone.MainActivity" />
        <activity android:name=".phone.MessageListActivity" />
        <activity android:name=".phone.AddCommentActivity" />
        <activity android:name=".phone.HomeDetailActivity" />
        <activity
            android:name=".phone.ShareActivity"
            android:theme="@android:style/Theme.Black" />
        <activity android:name=".phone.MyActivity" />
        <activity android:name=".phone.LeaveListActivity" />
        <activity android:name=".phone.MyPasswordActivity" />
        <activity android:name=".phone.LocationActivity" />
        <activity android:name=".phone.RegisterActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity android:name=".phone.SignInActivity" />
        <activity android:name=".phone.HomeListActivity" />
        <activity android:name=".phone.CommentActivity" />
        <activity android:name=".phone.MyListActivity" />
        <activity android:name=".phone.RepairFormActivity" />
        <activity
            android:name=".phone.RepairSpareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".phone.DataFormActivity" />
        <activity android:name=".phone.DataTimeListActivity" />
        <activity android:name=".phone.DataPeopleListActivity" />
        <activity
            android:name=".phone.MessageDetailActivity"
            android:label="@string/title_activity_message_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".phone.StaffLeaveActivity"
            android:label="@string/title_activity_leave_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".phone.LeaveDetailActivity" />
        <activity android:name=".phone.StaffLeavesActivity" />
        <activity android:name=".phone.AddShareActivity" />
        <activity android:name=".phone.LeaveAddActivity" />
        <activity android:name=".phone.UserProfileActivity" />
        <activity android:name=".phone.PoiAroundSearchActivity"></activity>
        <activity android:name=".phone.MyProfileActivity"></activity>
        <activity android:name=".phone.GuestRegisterActivity"></activity>
    </application>

</manifest>